<!-- <div class="share-bar">
  <i class="fa fa-share-square fa-2x share-btn"></i>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=454747711248402&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="share-over">
  <div class="soc-links-wrapper">
    <a class="soc-link fa fa-twitter" href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a class="soc-link fa fa-facebook fb-share-button" href="#" data-href="{{ post.url }}" data-layout="button_count"></a>
  </div>
</div>

<div class="share-under share-btn"></div> -->
<aside>
  <h2 class="text-center">Share</h2>
  <hr>
  <div class="soc-links-wrapper">
    <a class="soc-link fa fa-twitter" href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</aside>
