<section>
  <div class="container my-auto">
    <div class="row">
      <div class="col-sm-6 mx-auto mb-3" *ngFor="let resource of resources">
        <a class="article-box article-box-md" routerLink="/resources/{{ resource.link }}">
          <div class="over"></div>
          <img src="assets/img/full/{{ resource.link }}.jpg" alt="{{ resource.title }}">
          <div class="category">{{ resource.type }}</div>
          <div class="description">
            <h4>{{ resource.title }}</h4>
            <p class="text-faded mob-muted">{{ resource.preview }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Ending Detail Section -->
<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Our Purpose</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">{{ description }}</p>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="my-4">
        <p class="mb-5">Have feedback on some content? Maybe a question related to a resource? Send me an email and I will get back to you as soon as possible!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 mx-auto text-center">
        <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
        <p>
          <a href="mailto:{{ email }}">{{ email }}</a>
        </p>
      </div>
    </div>
  </div>
</section>
