<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="my-4">
        <p class="mb-5">Have feedback on some content? Maybe a question related to a resource? Send us a message and we'll get back to you as soon as possible!</p>
      </div>
      <div class="col-lg-10 mx-auto">
        <form (ngSubmit)="processForm()">
          <!-- Name -->
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Name" [(ngModel)]="name" required minlength="3" #nameInput="ngModel">
          </div>

          <div class="help is-error" *ngIf="nameInput.invalid && nameInput.dirty">
            Name is required and needs to be at least 3 characters long.
          </div>

          <!-- Email -->
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="email" required email #emailInput="ngModel">
          </div>

          <!-- Message -->
          <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" name="message" rows="3" [(ngModel)]="message" required #messageInput="ngModel"></textarea>
          </div>

          <button type="submit" class="btn btn-xl btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
