#mainNav {
  border-color: transparent;
  background-color: transparent;
  font-family: 'Mont', 'Helvetica Neue', Arial, sans-serif;
  padding: 1rem 1.5rem;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #FFF;
  font-family: 'Mont', 'Helvetica Neue', Arial, sans-serif;
}
#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover { color: rgba(255, 255, 255, .8); }
#mainNav.navbar-shrink .navbar-brand { color: #2A2A2A; }
#mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover { color: #2A2A2A; }

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #2980B9;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover { color: #C16363; }
#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #C16363 !important;
  background-color: transparent;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

#mainNav .nav-t {
  background-color: #FFF;
  display: none;
  padding: 4rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 100vh;
  width: 100vw;

  opacity: 0;

  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  transition: opacity .3s;
}
#mainNav .nav-t.show { display: block; opacity: 1; }
.nav-t ul {
  list-style: none;
  padding: 0;
}
.nav-t ul li a {
  color: #2A2A2A;
  font-size: 2.4rem;
}

@media (min-width: 992px) {
  .nav-t ul li a:active { color: rgba(255, 255, 255, .8); }
  .nav-t ul li a:active,
  .nav-t ul li a:hover { color: #fff; }
}
.nav {
  position: absolute;
  right: 2rem;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}
.nav-open-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 40px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}
.nav-open { display: none; }
.hamburger {
  height: 3px;
  background: #FFFFFF;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}
#mainNav.navbar-shrink .hamburger { background-color: #2A2A2A; }
.hamburger-1 {
  width: 25px;
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
}
.hamburger-2 {
  width: 20px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.hamburger-3 {
  width: 15px;
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}
.nav-open:checked + .nav-open-btn .hamburger { background-color: #2A2A2A; height: 5px; }
.nav-open:checked + .nav-open-btn .hamburger-1 {
  width: 25px;
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg);
}
.nav-open:checked + .nav-open-btn .hamburger-2 {
  width: 25px;
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.nav-open:checked + .nav-open-btn .hamburger-3 {
  width: 25px;
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu-item:hover {
  background: white;
  color: #00bcd4;
}
.nav-open-btn {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}
.nav-open-btn:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
.nav-open:checked + .nav-open-btn {
  transition-timing-function: linear;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}
