---
interface Props {
    type: 'button' | 'submit';
}

const { type } = Astro.props;
---


<button type={type}>
    <span class="button-label">
        <slot />
    </span>
</button>

<style>
    button {
        background-color: var(--color-primary);
        border: none;
        border-radius: var(--shape-corner-full);
        color: var(--color-on-primary);
        cursor: pointer;
        display: block;
        font-size: 14px;
        font-weight: 500;
        height: 40px;
        letter-spacing: .01pt;
        line-height: 20px;
        padding: 0 16px;
        position: relative;
        margin-top: 16px;
    }
    button.button-label {
        display: block;
        position: relative;
        z-index: 1;
    }
    button::after {
        background-color: var(--color-on-surface);
        border-radius: var(--shape-corner-full);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;

        transition: opacity var(--motion-easing-standard) var(--motion-duration-short);
    }
    button:hover::after {
        opacity: 0.12;
    }
</style>