---
interface Props {
    link: string;
}
const { link } = Astro.props;
---

<a href={link} class="fab-xs">
    <slot />
</a>

<style>
    a {
        box-sizing: border-box;
        border-radius: var(--shape-corner-full);
        cursor: pointer;
        display: block;
        fill: var(--color-on-surface-variant);
        height: 36px;
        margin: 4px;
        overflow: hidden;   
        padding: 8px;
        position: relative;
        width: 36px;

        transition: fill var(--motion-easing-standard) var(--motion-duration-standard);
    }
    a:hover {
        fill: var(--color-primary);
    }
    a::before {
        background-color: var(--color-on-surface-variant);
        content: '';
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 100%;

        transition: opacity var(--motion-easing-standard) var(--motion-duration-standard);
    }
    a:hover::before {
        opacity: 0.08;
    }
</style>