---
interface Props {
  link: string;
}
const { link } = Astro.props;
---

<a href={link} class="fab-xs">
  <slot />
</a>

<style>
  a {
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: var(--dlh-theme-shape-corner-full);
    fill: var(--dlh-theme-color-on-surface-variant);
    position: relative;

    transition: fill var(--dlh-theme-motion-easing-standard)
      var(--dlh-theme-motion-duration-standard);
    margin: 4px;
    padding: 8px;
    width: 36px;
    height: 36px;
    overflow: hidden;
  }
  a:hover {
    fill: var(--dlh-theme-color-primary);
  }
  a::before {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    transition: opacity var(--dlh-theme-motion-easing-standard)
      var(--dlh-theme-motion-duration-standard);
    background-color: var(--dlh-theme-color-on-surface-variant);
    width: 100%;
    height: 100%;
    content: "";
  }
  a:hover::before {
    opacity: 0.08;
  }
</style>
