---
interface Props {
    title?: string;
    variant?: 'section' | 'aside';
}
const { title, variant = 'section' } = Astro.props;

const containerTag = variant === 'aside' ? 'aside' : 'section';

---
<section>
    { title ? <h2>{title}</h2> : null }
    <slot />
</section>
<!-- <Fragment set:html={containerTag} class="container mb-2">
    { title ? <h2>{title}</h2> : null }
    <slot />
</Fragment> -->

<style>
    section { margin: var(--dlh-theme-shape-margin-small) auto var(--dlh-theme-shape-margin-large); }
    aside { margin: 0 auto var(--dlh-theme-shape-margin-large); }
    footer { margin: var(--dlh-theme-shape-margin-small) auto var(--dlh-theme-shape-margin-xl);}
</style>