---
interface Props {
    title?: string;
    variant?: 'section' | 'aside';
}
const { title, variant = 'section' } = Astro.props;

const containerTag = variant === 'aside' ? 'aside' : 'section';

---
<section>
    { title ? <h2>{title}</h2> : null }
    <slot />
</section>
<!-- <Fragment set:html={containerTag} class="container mb-2">
    { title ? <h2>{title}</h2> : null }
    <slot />
</Fragment> -->

<style>
    section {
        margin: 0 auto 24px;
    }

    h2 {
        color: var(--color-on-surface-variant);
        font-size: 22px;
        font-weight: 600;
        line-height: 2;
        margin: 0 auto 16px;
    }
</style>