header.prj-head {
  height: 80vh;
  position: relative;

  -webkit-transition: height .45s ease-in-out;
  -moz-transition: height .45s ease-in-out;
  transition: height .45s ease-in-out;
}
header.prj-head .container {
  position: absolute;
  bottom: 4rem;
  padding: 0 2rem;

  background-size: 120%;
}
.prj-head .text-container {
  -webkit-transition: -webkit-transform .45s ease-in-out;
  -moz-transition: -moz-transform .45s ease-in-out;
  transition: transform .45s ease-in-out;
}
header.prj-head.prj-head-shrink { height: 35vh; }
.prj-head.prj-head-shrink .text-container {
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  transform: scale(.9);
}

.round-top {
  border-top-left-radius: 3rem 2rem;
  border-top-right-radius: 3rem 2rem;
  position: relative;
  top: -3rem;
}
