---
layout: default
---
<header class="masthead text-center text-white d-flex" style="background-image: url('{{ site.posts[0].thumb }}');">
  <div class="over"></div>
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>{{ site.posts[0].title }}</strong>
        </h1>
        <p class="text-faded text-uppercase mb-1">{{ site.posts[0].type | escape }}</p>
        <hr class="light">
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5">{{ site.posts[0].preview | truncatewords: 20 }}</p>
        <a class="btn btn-light btn-xl" href="{{ site.posts[0].url | relative_url }}">Read more</a>
      </div>
      <div class="down-wrap">
        <a class="down-inner js-scroll-trigger" href="#articles"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</header>
{% if site.posts.size > 2 %}
<aside id="articles">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-8 mx-auto mb-3">
        <a class="article-box article-box-md" href="{{ site.posts[1].url | relative_url }}">
          <div class="over"></div>
          <img src="{{ site.posts[1].header }}" alt="{{ site.posts[1].title | escape }}">
          <div class="category">{{ site.posts[1].type | escape }}</div>
          <div class="description">
            <h4>{{ site.posts[1].title | escape }}</h4>
            <p class="text-faded mob-muted">{{ site.posts[1].preview | truncatewords: 20 }}</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 mx-auto mb-3">
        <a class="article-box" href="{{ site.posts[2].url | relative_url }}">
          <img src="{{ site.posts[2].thumb }}" alt="{{ site.posts[2].title | escape }}">
          <div class="category">{{ site.posts[2].type | escape }}</div>
          <div class="description">
            <h4>{{ site.posts[2].title | escape }}</h4>
            <p class="text-muted">{{ site.posts[2].preview | truncatewords: 22 }}</p>
            <!-- <p class="author mb-0">{{ site.posts[2].author }}</p>
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <p class="date mb-0">{{ site.posts[2].date | date: date_format }}</p> -->
          </div>
        </a>
      </div>
    </div>
  </div>
</aside>
{% endif %}

{% if site.posts.size > 4 %}
<aside>
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-4 mx-auto mb-3">
        <a class="article-box" href="{{ site.posts[3].url | relative_url }}">
          <img src="{{ site.posts[3].thumb | escape }}" alt="{{ site.posts[3].title | escape }}">
          <div class="category">{{ site.posts[3].type | escape }}</div>
          <div class="description">
            <h4>{{ site.posts[3].title | escape }}</h4>
            <p class="text-muted">{{ site.posts[3].preview | truncatewords: 22 }}</p>
            <!-- <p class="author mb-0">{{ site.posts[3].author }}</p>
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <p class="date mb-0">{{ site.posts[3].date | date: date_format }}</p> -->
          </div>
        </a>
      </div>
      <div class="col-lg-8 mx-auto mb-3">
        <a class="article-box article-box-md" href="{{ site.posts[4].url | relative_url }}">
          <div class="over"></div>
          <img src="{{ site.posts[4].header | escape }}" alt="{{ site.posts[4].title | escape }}">
          <div class="category">{{ site.posts[4].type | escape }}</div>
          <div class="description">
            <h4>{{ site.posts[4].title | escape }}</h4>
            <p class="text-faded mob-muted">{{ site.posts[4].preview | truncatewords: 22 }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</aside>
{% endif %}

{% if site.posts.size > 8 %}
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-uppercase"><strong>More Resources</strong></h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% for post in site.posts offset:5 limit:3 %}
      <div class="col-md-4 mb-1">
        <a class="article-box mt-5 mx-auto sr-article-box" href="{{ post.url | relative_url }}">
          <img src="{{ post.thumb | relative_url }}" alt="{{ post.title | escape }}">
          <div class="category">{{ post.type | escape }}</div>
          <div class="description">
            <h4 class="mb-3">{{ post.title | escape }}</h4>
            <p class="text-muted mb-0">{{ post.preview | truncatewords: 18 }}</p>
            <!-- <p class="author"> {{ post.author }} </p>
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <p class="date">{{ post.date | date: date_format }}</p> -->
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% if site.description %}
<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Our Purpose</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">{{ site.description | escape }}</p>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% if site.email %}
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="my-4">
        <p class="mb-5">Have feedback on some content? Maybe a question related to a resource? Send me an email and I will get back to you as soon as possible!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 mx-auto text-center">
        <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
        <p>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>
      </div>
    </div>
  </div>
</section>
{% endif %}
