---
layout: default
---
<article class="post">

  <header class="masthead text-center text-white d-flex" style="background-image: url('{{ page.header }}');">
    <div class="over"></div>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>{{ page.title | escape }}</strong>
          </h1>
          <p class="text-faded text-uppercase mb-1">{{ page.type | escape }}</p>
          <hr class="light">
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="text-faded mb-5">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
              {{ page.date | date: date_format }}
            </time>
          </p>
        </div>
        <div class="down-wrap">
          <a class="down-inner js-scroll-trigger" href="#article"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </header>

  <!-- Article -->
  <section id="article">
    {% if page.audio %}
    <div class="container-fluid">
      <div class="row no-gutter">
        <div class="col-lg-12 offset-lg-1">
          <audio controls>
            <source src="{{ page.audio }}" type="audio/ogg">
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
    </div>
    {% endif %}
    {% if page.author %}
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <p>{{ page.author | escape}}</p>
          <hr class="my-4 primary">
        </div>
      </div>
    </div>
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          {{ content | markdownify }}
        </div>
      </div>
    </div>
  </section>

  <!-- More Resources -->
  {% if site.posts %}
  <section class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h4>More Resources</h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        {% for post in site.posts limit:3 %}
        <div class="col-md-4 mb-1">
          <a class="article-box mt-5 mx-auto sr-article-box" href="{{ post.url | relative_url }}">
            <img src="{{ post.thumb | relative_url }}" alt="{{ post.title | escape }}">
            <div class="description">
              <h4 class="mb-3">{{ post.title | escape }}</h4>
              <p class="text-muted mb-0">{{ post.preview | truncatewords: 18 }}</p>
              <!-- <p class="author"> {{ post.author }} </p>
              {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
              <p class="date">{{ post.date | date: date_format }}</p> -->
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}

</article>
