/* You can add global styles to this file, and also import other style files */

@import "assets/css/dylan.css";

@font-face {
  font-family: 'Mont';
  src: url('assets/css/Mont.otf');
}
@font-face {
  font-family: 'Vision';
  src: url('assets/css/Vision.otf');
}
