---
import "../styles/global.css";

import { ClientRouter } from "astro:transitions";

import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="keywords"
      content="Dylan, Howard, Software, Engineer, Bowling Green, Development, React, TypeScript, JavaScript, C#, .NET, Go, Azure, Data"
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Dylan Howard</title>

    <style is:global>
      @import "../styles/global.css";
    </style>
    <ClientRouter />
  </head>
  <body data-theme="light">
    <Navigation />
    <slot />
    <Footer />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <style is:global>
      html {
        position: relative;
      }
      body {
        background: var(--dlh-theme-color-surface);
        color: var(--dlh-theme-color-on-surface);
        font-family: "Noto Sans", sans-serif;
        margin: 0 auto;
        max-width: 560px;
        width: calc(100% - (var(--dlh-theme-shape-margin-large) * 2));
      }

      body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;

        background-image: radial-gradient(var(--dlh-theme-color-outline-variant) 1px, transparent 0);
        background-size: 16px 16px;
        background-position: 16px 16px;

        mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.38) 20%);
        mask-size: 100% 100%;
        mask-repeat: no-repeat;
      }

      ::view-transition-group(*),
      ::view-transition-old(*),
      ::view-transition-new(*)
      {
        animation-duration: 500ms;
        animation-timing-function: cubic-bezier(0.2, 0, 0, 1);
      }
      
    </style>
  </body>
</html>
