<header class="masthead d-flex">
  <div class="head__bg" style="background-image: url('assets/img/header.jpg')"></div>
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 text-white">
        <h1 class="text-uppercase"><strong class="greet"></strong> </h1>
        <h1>I'm Dylan</h1>
        <p>Nice to meet you! I'm a freelance web and ux developer, and a photographer.</p>
      </div>
    </div>
  </div>
  <a class="arrow js-scroll-trigger" href="#what-i-do"><i class="fa fa-chevron-down"></i></a>
</header>

<section id="what-i-do" class="d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-6 text-center"><i class="fa fa-4x fa-code text-white"></i></div>
      <div class="col-6 text-center"><i class="fa fa-4x fa-camera text-white"></i></div>
      <div class="col-lg-8 col-10 text mx-auto my-5">
        <h2 class="text-uppercase text-white"><strong>What I Do</strong></h2>
        <p class="text-white mb-4">In a nutshell, I develop websites and take photos to deliver smiles.</p>
      </div>
      <div class="col-lg-8 col-10 mx-auto my-4">
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#my-work">See my work</a>
      </div>
    </div>
  </div>
</section>

<section class="bg-grad-1">
  <div class="container">
    <app-projects></app-projects>
  </div>
</section>
